<div class="modal" id="modal-1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <a href="#" class="close" role="button" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
        <h5 class="modal-title"> Tem certeza? </h5>
        <p>
          Esta ação apagará a Parada {{ stop }}.
        </p>
        <div class="mt-20"> 
          <a href="#" class="btn mr-5 text-left" role="button"> Voltar </a> <br> <br>
          <a href="{% url 'stops:delete_stop' stop.stop_id %}" class="btn btn-danger text-right" role="button"> Isso mesmo, quero excluir essa Parada </a>
        </div>
      </div>
    </div>
</div>