{% extends 'basic/base.html' %}
{% load static %}
{% block content %}

<div class="container">

    {% include 'basic/partials/_header.html' %}

    {% include 'basic/partials/_alerts.html' %}
    
    {% include 'stops/modal/_modal_excluir.html' %}

    <div class="card">
        <div class="row">
            <div class="col-10">
                <p>
                    {{ stop.stop_name }}
                </p>
            </div>

            <div class="col-2 text-right">
                <p>
                    <a class="btn btn-success text-white" href="{% url 'stops:edit_stop' stop.stop_id %}">
                        <i class="fa fa-pencil mr-5" aria-hidden="true"></i> Editar
                    </a>
                </p>
            </div>
        </div>

        {% include 'mapbox/_stop_map.html' %}
    </div>
    
    <div class="card">
        <h6 class="card-title">
            Trajetos Incluídos
        </h6>
        
        {% include 'stops/partials/_stop_time_table.html' %}
    </div>

    <div class="card">
        <h6 class="card-title">
            Outras Opções
        </h6>

        <a href="#modal-1" class="btn btn-danger" role="button"> <i class="fa fa-trash" aria-hidden="true"></i> Excluir a Parada </a>
    </div>

</div>

{% endblock %}