{% extends 'basic/base.html' %}
{% load static %}
{% block content %}

<div class="container">

    {% include 'basic/partials/_header.html' %}

    {% include 'basic/partials/_alerts.html' %}

    <div class="card">
        {% include 'trips/forms/_new_trip_form.html' %}
    </div>

    <div class="card">
        {% include 'mapbox/_trip_map.html' %}
    </div>

    <div class="card">
        <div class="row">
            <div class="col-6">
                <p> Relação Parada / Horário: </p>
            </div>
            <div class="col-6">
                <div class="form-inline">
                    <label for="horario-inicio"> Horário de Início: </label>
                    <input type="text" class="form-control" placeholder="Início" id="horario-inicio" value="{{ horario_inicio|date:"H:i:s" }}">
                </div>
            </div>
        </div>

        <table class="table">
            <tbody>
                <thead>
                    <tr>
                      <th> Ordem </th>
                      <th> Parada </th>
                      <th> Horário </th>
                      <th> Diferença </th>
                    </tr>
                </thead>

                {% for stop in stop_times %}

                <tr>
                    <th> {{ stop.stop_sequence }} </th>
                    <td> {{ stop.stop.stop_lat }} {{ stop.stop.stop_lon }} </td>
                    <td class="horario-tabela" > {{ stop.arrival_time|date:"H:i:s" }} </td>
                    <td class="diferenca-tabela text-success" > 
                        + {{ stop.tdelta }}
                    </td>
                </tr> 

                {% endfor %}

            </tbody>
        </table>
    </div>

    {% load static %}
    <script src="{% static 'js/gtfs-fm/new_trip_helper.js' %}"></script>
</div>

{% endblock %}