
<div class="modal" id="modal-trip" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
    
        <h5 class="modal-title"> Certo. Como podemos prosseguir? </h5>
        
        <div class="">
            <a href="{% url 'trips:new_trip_manual' %}" style="text-decoration: none;">
                <div class="card bg-primary text-white text-center"> 
                    <h2> <i class="fa fa-cogs fa-4" aria-hidden="true"></i> <br> </h2>
                    
                    Inserir de Forma Manual 
                </div>
            </a>
            
            <div class="text-center"> 
                Ou
            </div>
            
            <a href="{% url 'trips:new_trip_file' %}" style="text-decoration: none;">
                <div class="card bg-primary text-white text-center"> 
                    
                    <h2> <i class="fa fa-file-text fa-4" aria-hidden="true"></i> <br> </h2>
                    
                    Inserir por arquivo de Rota 
                </div>
            </a>

        </div>
      </div>
    </div>
</div>