{% load widget_tweaks %}

<p> Informações Gerais </p>

{% csrf_token %}

{% for field in trip_form %}


<div class="form-group form-inline">

    <!-- <div class="row col-12"> -->

    <!-- <div class="col-6">  -->

    <label> {{ field.label }} </label>

    {{ field|add_class:'form-control' }}

    <!-- </div> -->

    <!-- </div> -->

</div>

{% endfor %}

<div id="data-shapes" class="d-none">
    [
    {% for shape in shapes %}
    {
    "shape_pt_lon": {{ shape.shape_pt_lon }},
    "shape_pt_lat": {{ shape.shape_pt_lat }},
    "shape_pt_sequence": {{ shape.shape_pt_sequence }},
    "shape_id": "{{ trip.shape_id }}"
    }

    {% if not shape.shape_pt_sequence == last_shape %}
    ,
    {% endif %}


    {% endfor %}
    ]
</div>