{% extends 'basic/base.html' %}
{% load static %}
{% block content %}

{% load widget_tweaks %}

<div class="container">

    {% include 'basic/partials/_header.html' %}
    
    {% include 'basic/partials/_alerts.html' %}
    
    <form action="{% url 'routes:new_route' %}" method="POST" class="form-group mw-full">
        <div class="card">


            {% csrf_token %}

            {% for field in form %}

            <div class="form-group">

                <label> {{ field.label }} </label>

                {{ field|add_class:'form-control' }}

            </div>

            {% endfor %}

        </div>

        <div class="row card">
            <div class="col-6">
                <a class="btn btn-danger" href="{% url 'routes:index' %}">
                    Cancelar
                </a>
            </div>

            <div class="col-6 text-right">
                <input class="btn btn-success text-white" type="submit" value="Salvar" />
            </div>

        </div>

    </form>


</div>

{% endblock %}