<tr>
    <th> <spam style="color: #{{ route.route_color }};" > ⦿ &nbsp; </spam> {{ route.route_long_name }}</th>
    <th> 
        <div class="float-right">
            <a class="btn" href="{% url 'routes:show_route' route.route_id %}">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
            <a class="btn" href="{% url 'routes:edit_route' route.route_id %}">
                <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
        </div>
    </th>
</tr>