{% extends 'basic/base.html' %}
{% load static %}
{% block content %}

<div class="container col-8">

    
    <div class="card">
        <h5 class="card-title">
            Login
        </h5>

        {% include 'basic/partials/_alerts.html' %}
        
        <form action="{% url 'login' %}" method="POST" class="form-inline mw-full">
            {% csrf_token %}

            <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
            <div class="form-group">
                <label class="w-100" for="username">Email</label> <!-- w-100 = width: 10rem (100px) -->
                <input type="text" id="email" class="form-control" name="email"
                    placeholder="Entre com o email cadastrado">
            </div>
            <div class="form-group">
                <label class="w-100" for="password">Password</label> <!-- w-100 = width: 10rem (100px) -->
                <input id="senha" type="password" class="form-control" name="senha" placeholder="Digite aqui sua senha">
            </div>
            <div class="form-group mb-0">
                <a href="{% url 'home' %}" class="btn btn-danger"> Voltar </a>
                <input type="submit" class="btn btn-primary ml-auto" value="Logar">
                <!-- ml-auto = margin-left: auto -->
            </div>
        </form>
      </div>

</div>

{% endblock %}