{% extends 'basic/base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <div class="mt-5">
        <div class="content mw-full">
            <form action="{% url 'routes:index' %}" method="GET" class="form-inline">
                
                <label> Rotas </label>
                
                <input type="text" {% if query %} value="{{ query }}" {% endif %} class="form-control" placeholder="Filtrar" name="q">
                
                <input type="submit" class="btn btn-primary" value="Aplicar">
                
                <a class="btn btn-danger float-right" href="{% url 'dashboard' %}">
                    Voltar
                </a>
            </form>
        </div>
    </div>

    {% include 'routes/partials/_table.html' %}

    {% include 'routes/partials/_pagination.html' %}

</div>

{% endblock %}