{% load static %}


<div class="content">
    
    <div class="content text-muted text-center">
        Trajeto sendo criado. Não feche esta tela e aguarde até a confirmação.
    </div>

    <div id="progresso-criacao-shapes" class="card row"> 

        <div class="col-2"></div>
        <div class="col-2 text-center">
            <img id="imagem-progresso-criacao-shapes" src="{% static 'img/loading_green.gif' %}" width="50" height="50" class="float-center">
        </div>
        <div class="col-6 text-center">
            <h4> Criando o Shape do Trajeto </h4>
        </div>
        <div class="col-2"></div>

    </div>

    <div id="progresso-criacao-trip" class="card row d-none"> 
        <div class="col-2"></div>
        <div class="col-2 text-center">
            <img id="imagem-progresso-criacao-trip" src="{% static 'img/loading_green.gif' %}"  width="50" height="50" class="float-center">
        </div>
        <div class="col-6 text-center">
            <h4> Cadastrando os dados do Trajeto </h4>
        </div>
        <div class="col-2"></div>
    </div>
    
    <div id="progresso-criacao-stop-times" class="card row d-none"> 
        <div class="col-2"></div>
        <div class="col-2 text-center">
            <img id="imagem-progresso-criacao-stop-times" src="{% static 'img/loading_green.gif' %}"  width="50" height="50" class="float-center">
        </div>
        <div class="col-6 text-center">
            <h4> Criando a grade de horários </h4>
        </div>
        <div class="col-2"></div>
    </div>   

    <div id="botoes-navegacao" class="card text-center d-none"> 
        <h4 class=""> Trip criada com sucesso! :) </h4>
        <br>

        <a class="btn btn-success text-white" href="{% url 'dashboard' %}">
            Voltar para a Home
        </a>
        <a class="btn btn-success text-white" href="{% url 'trips:show_trip' trip.trip_id %}">
            Visualizar a nova Trip
        </a>
    </div>  

</div>