
<div id="div-salvar-tudo" class="content pt-0 d-none"> 
    <a id="btn-salvar-tudo" class="btn btn-block btn-success text-white mt-0">
        <i class="fa fa-save mr-5" aria-hidden="true"></i> Salvar tudo
    </a>
    <br>
</div>

<div class="row">
    <div class="col-6">
        <p> Relação Parada / Horário: </p>
    </div>
    <div class="col-6">
        <div class="form-inline">
            <label for="horario-inicio"> Horário de Início: </label>
            <input type="text" class="form-control" placeholder="Início" id="horario-inicio"
                value="{{ horario_inicio|date:" H:i:s" }}">
        </div>
    </div>
</div>

<div class="table">
    <div class="row my-10">
        <div class="col-2">Status</div>
        <div class="col-1">Ordem</div>
        <div class="col-4">Parada</div>
        <div class="col-2">Horário</div>
        <div class="col-1">Diferença</div>
        <div class="col-2 text-right">Ações</div>
    </div>
    <br>

    <div class="collapse-group mw-full">
        {% for stop in stop_times %}

        <details id="collapse-panel-{{ stop.stop_sequence }}" class="collapse-panel">

            <summary class="collapse-header without-arrow">
                <div class="row mt-5">
                    <div class="col-2"> <span id="status-parada-{{ stop.stop_sequence }}" class="badge badge-secondary status-parada"> Pendente </span> </div>
                    <div class="col-1"> {{ stop.stop_sequence }} </div>
                    <div id="parada-nome-{{ stop.stop_sequence }}" class="col-4"> {{ stop.stop.stop_lat }} {{ stop.stop.stop_lon }} </div>
                    <div id="arrival-time-{{ stop.stop_sequence }}" class="col-2 horario-tabela"> {{ stop.arrival_time|date:"H:i:s" }} </div>
                    <div class="col-1 diferenca-tabela"> + {{ stop.tdelta }} </div>
                    <div class="col-2">
                        <div class="float-right">
                            <a class="btn btn-success text-white accordion-toggle">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </summary>

            <div class="collapse-content">
                <div>
                    <div class="col-12">
                        {% include 'trips/new/scratch/_modal_paradas.html' %}
                    </div>
                </div>
            </div>
        </details>
        {% endfor %}
    </div>

</div>